.footer {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    width: calc(100% - 40px);
    margin-top: 10px;

}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.social-links a {
    list-style: none;
    margin: 0 20px;
    filter:drop-shadow(0 0 15px black);
    -webkit-filter:drop-shadow(0 0 15px black);
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.social-links a:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}